.sel_arrow {
  background:
    url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50%
    no-repeat;
  background-size: 20px 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input_white {
  background-color: white;
  border: solid 1px black;
  color: black;
}